#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  opacity: 1;
  background-image: radial-gradient(#000000 0.4px, #ffffff 0.4px);
  background-size: 8px 8px;
  scroll-behavior: smooth;
}
